/* body{
    background-color: #fc8688;
} */
/* body{
    background-color: #f29d75;
} */

/* colors
#68D391
#48BB78
#38A169
#2F855A
#81E6D9
#4FD1C5
#38B2AC
#319795        
#F687B3
#ED64A6
#D53F8C
#FFF5F5
#FED7D7
#FEB2B2
400
#FC8181
#F56565
#E53E3E
#C53030
#9B2C2C
        


*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.color{
    color: #fec19c;
}
/* 
p,h1{
    display: inline-block;
    width: 300px;
    text-align: center;
    color: #e5dd95;
   
} */
/* header{
    background-color: #fc8688;
    font-weight: 200;
}
.description{
    background-color: #f29d75;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
} */


